.delete-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-items: center;
    bottom: -150px;
}

.delete-warning {
    color: red;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    font-family: "Agency FB";
    font-style: italic;
    text-transform: capitalize;
}