@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.welcome-panel {
    display: inline-flex;
    position: relative;
    top: -120px;
}

#welcome-world {
    width: auto;
    padding-right: 15px;
    padding-top: 7em;
    justify-content: right;
    padding-left: 15px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

#welcome-world .welcome-message {
    display: inline-flex;
    align-items: center;
    z-index: 999;
    top: 40%;
    text-align: center;
}

#welcome-world>img {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: 60%;
    margin-left: auto;
    padding-left: auto;
}

.welcome-message h2 {
    color: black;
    -webkit-text-stroke: 1px yellow;
    font-size: 300%;
    font-size: 500%;
    line-height: 1;
    font-weight: 700;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 4.8px rgba(0, 0, 0, 0.3);
    font-family: 'Monoton', cursive;
}

.welcome-message h3 {
    color: black;
    -webkit-text-stroke: 1px yellow;
    border-color: yellow;
    font-size: 600%;
    text-shadow: none;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 2px 4.8px rgba(0, 0, 0, 0.3);
    font-family: 'Monoton', cursive;
}

#welcome-world>#home-page {
    border: 1px solid yellow;
    width: 50% fit-content;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 32px 0px yellow, -14px -14px 20px #191c21;
}

#home-page {
    background-color: transparent;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    border-radius: 10px;
    padding: 55px;
    height: auto;
    width: auto;
    position: relative;
    bottom: 75px;
    top: -120px;
}

.car-container {
    display: inline-flex;
}

.details-btn {
    background-color: #944040;
    font-size: 1.4rem;
    text-transform: uppercase; 
    padding-top: 20px;
    margin-top: 10px;
    color: white;
    padding: 0.9em 1.4em;
}

.data-buttons {
    font-size: 1.4rem;
    padding-top: 20px;
    text-align: center;
}

.btn.details-btn:hover {
    background-color: red;
    color: white;
}

#home-page>h1 {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 84px;
    font-family: "Agency FB";
    font-style: italic;
}